<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="fooChat" />
		<meta name="author" content="Jaseem Abid" />
		<title>fooChat</title>

		<!-- Less styles -->
		<!--<link rel="stylesheet" href="static/css/bootstrap.min.css" />
		<link rel="stylesheet/less" type="text/css" href="static/css/style.less">
		-->
	</head>
	<body>


<form  action="/api/user/register/" method ="post">
<label>Username</label><span class="add-on"><i class="icon-user"></i></span><input type="text"  name = "username"  class="span10" placeholder="Username">
<label>Password</label><span class="add-on"><i class="icon-lock"></i></span><input type="password"  name="password" class="span10" placeholder="Password">
<label>E-mail</label><span class="add-on"></span><input type="email" name="email"  class="span10">
<label>Full Name</label><span class="add-on"></span><input type="text"  name="fullname" class="span10">
</div><input  type="submit" class="btn"></form>
<!--<script src="static/js/foochat.js"></script>-->
	</body>
</html>

